:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background: #ECF0F1;
  --card-background: #BDC3C7;
  --title: #2C3E50;
  --btn-primary: #3498DB;
  --btn-primary-hover: #2C3E50;
  --text: #192633;
  --btn-danger: #E74C3C;
  --btn-danger-hover: #C0392B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  z-index: -1;
}

h1, h2, fieldset, select, input {
  color: var(--title);
}

h2 {
  font-size: 3rem;
}

p {
  margin: 0;
  color: var(--text);
}

.app-container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
}

.user-list-container {
  background-color: white;
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 8px;
}

table {
  width: 95%;
  margin: 0 auto;
}

table, th, td {
  border-collapse: collapse;
}

td {
  margin: 10px 0;
}

td button {
  margin: 5px 0;
}

thead {
  background-color: var(--background);
  height: 30px;
}

thead tr:first-child {
  padding-left: 5px;
}

.name-cell {
  padding-left: 5px;
}


tbody tr:nth-child(odd) {
  background-color: #e3f2fd;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.user-list-item {
  font-size: 14px;
}

.email {
  word-break: break-word;
}

.tablet {
  display: none;
}

td {
  display: block;
}

thead {
  display: none;
  text-align: left;
}

.title, .filter-search-container {
  text-align: center;
}

.btn-primary {
  display: flex;
  justify-self: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  width: 100vw;
  height: 100vh;
}

.user-details-container {
  max-width: 600px;
  width: 90%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
  border-radius: 5px;
  padding: 1rem;
  background-color: white;
}

.user-details-right {
  width: 100%;
}

img {
  width: 100px;
  object-fit: contain;
  border-radius: 50%;
}

.img-container {
  text-align: center;
}

.info-container {
  margin-top: 5px;
}

.info-container p span {
  margin: 4px 0;
  font-weight: bold;
  font-size: 17px;
}

.info-container p {
  padding: 4px 0;
  font-size: 17px;
  border-bottom: 0.1px solid rgba(0,0,0,0.3);
}

.close-btn {
  position: fixed;
  top: 5px;
  right: 8px;
  padding: 6px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--btn-danger);
  transition: background-color .5s;
}

.close-btn:hover {
  background-color: var(--btn-danger-hover);
}

.btn-group {
  margin: 10px auto;
  width: 95%;
  display: flex;
  justify-content: end;
}

fieldset {
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
}

fieldset label {
  font-size: 1rem;
}

.spinner {
    width: 18px;
    height: 18px;
    border: 2px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: absolute;
    left: -1.5rem;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error-message {
  color: var(--btn-danger);
}

input {
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  width: 80%;
  font-size: 18px;
  transition: outline-color 0.5s;
}

input:focus {
  outline-color: var(--btn-primary);
  box-shadow: rgba(52, 152, 219, 0.25) 0px 5px 15px;
}

select {
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
}

option {
  background: var(--btn-primary);
  border-radius: 5px;
  color: white;
}

option:hover {
  background: black;
}

.btn-primary {
  padding: .5rem;
  background-color: var(--btn-primary);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  color: #000;
  font-weight: 500;
}

td {
  font-weight: 500;
}

.btn-primary:hover {
  background-color: var(--btn-primary-hover);
  color: white;
}

.btn-group button {
  width: 70px;
  display: inline;
  text-align: center;
}

.btn-group p {
  display: flex;
  justify-self: center;
  align-self: center;
  margin: 0 .5rem;
  font-weight: 500;
}

.divider {
  height: 20px;
}

@media screen and (min-width: 768px) {
  thead {
    display: table-header-group;
  }

  .mobile-only {
    display: none;
  }

  .tablet, td {
    display: table-cell;
  }

  input {
    margin-left: 5px;
  }

  .btn-cell {
    padding: 10px;
  }

  input {
    width: 50%;
  }

  .user-details-container {
    padding: 2rem;
  }

  .close-btn {
    top: 12px;
    right: 12px;
    padding: 7px;
  }
}

@media screen and (min-width: 1024px) {
  input {
    width: 30%;
  }
}