:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --background: #ECF0F1;
  --card-background: #BDC3C7;
  --title: #2C3E50;
  --btn-primary: #3498DB;
  --btn-primary-hover: #2C3E50;
  /* --text: #34495E; */
  --text: #192633;
  --btn-danger: #E74C3C;
  --btn-danger-hover: #C0392B;
}

* {
  margin: 0;
  padding: 0;
}

body {
  z-index: -1;
}

h1, h2 {
  color: var(--title);
}

p {
  margin: 0;
  color: var(--text);
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background);
}

.user-list-container {
  background-color: white;
  width: 85%;
  margin: 0 auto;
  padding: 10px;
}

table {
  width: 95%;
  margin: 0 auto;
}

.user-list-item {
  background-color: var(--card-background);
  font-size: 14px;
}

.email {
  word-break: break-word;
}

.tablet {
  display: none;
}

td {
  display: block;
}

thead {
  display: none;
  text-align: left;
}

.title, .filter-search-container {
  text-align: center;
}

.btn-primary {
  display: flex;
  justify-self: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  width: 100vw;
  height: 100vh;
}

.user-details-container {
  max-width: 600px;
  width: 90%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
}

.user-details-right {
  width: 100%;
}

.close-btn {
  position: fixed;
  top: 8px;
  right: 8px;
}

img {
  width: 50px;
  object-fit: contain;
}

table, th, td {
  border-collapse: collapse;
}

.btn-group {
  margin: 10px auto;
  width: 95%;
  display: flex;
  justify-content: end;
}

@media screen and (min-width: 768px) {
  thead {
    display: table-header-group;
  }

  .mobile-only {
    display: none;
  }

  .tablet, td {
    display: table-cell;
  }
}
